h1{
  font-size: 8em;
}



.header {
  width: 100%;
  padding:40px 0;
  text-align: center;
  background: #b3b7bb;
  color: #517191;

}

body {
  background-color: #b3b7bb;
}

form div.input-field input{
    padding-left: 15px !important;
    color: #25a297;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.input-field>label{
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-custom,.btn-custom:hover,.btn-custom:focus{
    background-color: transparent;
    font-size: 1.1rem;
    margin : 0px 5px;
    border: #fff solid 1px ;
    text-transform:none;
}

div.card{
    background-color : #517191;
    border-radius: 10px;
}

.vl {
    border-left: 2px solid #9e9e9e;
    height: 400px;
}

a.action-btn{
    color: #9e9e9e ;
    margin: 0px 5px;

}
a.action-btn:hover{
    cursor: pointer;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
  }






  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }


  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }

  input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }

  button {
    /* Just a little styling to make it pretty */
    border:1px solid blue;
    background:blue;
    color:white;
  }

  html {
    font-size:85%;
  }

  .container {
    width: 100%;

    background-color: #b3b7bb;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calendar {
    width: 45rem;
    height: 52rem;
    background-color: #8ca7c2;
    box-shadow: 0 0.5rem 3rem #517191;
  }

  .month {
    width: 100%;
    height: 12rem;
    background-color: #517191;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }

  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }

  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }

  .month p {
    font-size: 1.6rem;
  }

  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }

  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }

  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  .days button{
 /* Just a little styling to make it pretty */
 border:1px solid blue;
 background:blue;
 color:white;
  }

  .days div {
    font-size: 2rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;

  }

  .days div:hover:not(.today) {
    background-color: #517191;
    border: 0.2rem solid #777;
    cursor: pointer;
  }

  .prev-date,
  .next-date {
    opacity: 0.5;
  }

  .today {
    background-color: #4a8567;
  }
