<h2>MEAN Stack Scheduler App</h2>
<app-employee></app-employee>
<body>
<div class="container">
  <div class="calendar">
      <div class="month">
        <div id = "prev_month" (click) = "prev_month()" style = "cursor: pointer;"> <h3>&ensp;&#60;</h3> </div>
          <i class="fas fa-angle-left prev"></i>
          <div class="date">
              <h1>November 2020</h1> 
              <p>Wed November 11, 2020</p>
          </div>
          <i class="fas fa-angle-right next"></i>
          <div id = "next_month" (click) = "next_month()" style = "cursor: pointer;"> <h3>>&ensp;</h3> </div>
        </div>
      <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tues</div>
          <div>Wed</div>
          <div>Thurs</div>
          <div>Fri</div>
          <div>Sat</div>
      </div>

      <div class = "days_gen">
        <!--<div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
        <div>16</div>
        <div>17</div>
        <div>18</div>
        <div>19</div>
        <div>20</div>
        <div>21</div>
        <div>22</div>
        <div>23</div>
        <div>24</div>
        <div>25</div>
        <div>26</div>
        <div>27</div>
        <div>28</div>
        <div>29</div>
        <div>30</div>
        <div>1</div>
        <div>2</div>-->
        <div (click)="onAddPost()" class="days"> 
          <div>1</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>2</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>3</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>4</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>5</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>6</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>7</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>8</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>9</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>10</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>11</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>12</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>13</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>14</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>15</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>16</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>17</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>18</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>19</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>20</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>21</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>22</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>23</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>24</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>25</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>26</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>27</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>28</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>29</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>30</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">1</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">2</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">3</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">4</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">5</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">6</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">7</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">8</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">9</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">10</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">11</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">12</div>
        </div>
       <!--<div (click)="onAddPost2()" class="next-date">3</div>
        <div (click)="onAddPost2()" class="next-date">4</div>
        <div (click)="onAddPost2()" class="next-date">5</div>
        <div (click)="onAddPost2()" class="next-date">6</div>
        <div (click)="onAddPost2()" class="next-date">7</div>
        <div (click)="onAddPost2()" class="next-date">8</div>
        <div (click)="onAddPost2()" class="next-date">9</div>
        <div (click)="onAddPost2()" class="next-date">10</div>
        <div (click)="onAddPost2()" class="next-date">11</div>
        <div (click)="onAddPost2()" class="next-date">12</div>-->
      </div>
  </div>
</div>
<script>

</script>
</body>


<!--
<div>
        <div (click)="onAddPost()" class="days"> 
          <div>1</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>2</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>3</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>4</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>5</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>6</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>7</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>8</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>9</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>10</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>11</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>12</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>13</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>14</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>15</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>16</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>17</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>18</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>19</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>20</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>21</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>22</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>23</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>24</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>25</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>26</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>27</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>28</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>29</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div>30</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">1</div>
        </div>
        <div (click)="onAddPost()" class="days"> 
          <div class="next-date">2</div>
        </div>
      
      </div>


-->


